[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/@semaphore-protocol"]
	path = lib/@semaphore-protocol
	url = https://github.com/semaphore-protocol/semaphore
